<!-- Footer -->
<footer class="footer">
  <div class="container post-container">
    <hr />
    <ul class="contact-list">
      <% for (i in theme.contact) { %>
        <li class="contact-list-item">
          <span><%= i %></span>  <a href="<%- theme.contact[i][0] %>"><%= theme.contact[i][1] %></a>
        </li>
      <% } %>
    </ul>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    const options = {
      bottom: '64px', // default: '32px'
      right: '32px', // default: '32px'
      left: 'unset', // default: 'unset'
      time: '0.5s', // default: '0.3s'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#fff',  // default: '#fff'
      buttonColorDark: '#100f2c',  // default: '#100f2c'
      buttonColorLight: '#eee', // default: '#fff'
      saveInCookies: true, // default: true,
      label: '🌓', // default: ''
      autoMatchOsTheme: true // default: true
    }
    new Darkmode(options).showWidget();

  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
