<!-- Footer -->
<footer class="footer">
  <div class="container post-container">
    <hr />
    <ul class="contact-list">
      <% for (i in theme.contact) { %>
        <li class="contact-list-item">
          <span><%= i %></span>  <a href="<%- theme.contact[i][0] %>"><%= theme.contact[i][1] %></a>
        </li>
      <% } %>
    </ul>
  </div>
</footer>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
