<!-- Footer -->
<footer class="footer">
  <div class="container post-container">
    <hr />
    希望一起<strong> 讨论 💬 / 对线 🐴 / 网上冲浪 🏄</strong>，这些地方，我都在：
    <ul class="contact-list">
      <% for (i in theme.contact) { %>
        <li class="contact-list-item">
          <span><%= i %></span> ↘️ <a href="<%- theme.contact[i][0] %>"><%= theme.contact[i][1] %></a>
        </li>
      <% } %>
    </ul>
    如果你恰好钟意 RSS，点下 <a href="/atom.xml"><i class="fas fa-rss"></i> 订阅</a> 吧，某天更新了，对你我都是惊喜。
  </div>
</footer>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>