<div class="blog-header section">
  <nav>
    <div class="container main header">
      <a href="/">
        <img class="logo" src="/img/favicon.ico" />
      </a>
      <div class="menu">
        <% for (var i in theme.menu) { %>
        <a class="menu-item" href="<%- url_for(theme.menu[i]) %>">
          <span class="menu-item-text"><%= i %></span>
        </a>
        <% } %>
      </div>
    </div>
  </nav>
</div>
