<div class="blog-header">
  <nav>
    <div class="container post-container">
      <div class="menu">
        <a class="menu-item button is-white" href="/">
          <img class="logo" src="/img/favicon.ico" />
        </a>
        <% for (var i in theme.menu) { %>
          <a class="menu-item button is-white" href="<%- url_for(theme.menu[i]) %>">
            <span class="menu-item-text"><%= i %></span>
          </a>
        <% } %>
      </div>
    </div>
  </nav>
</div>

